@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  box-sizing: border-box;
  color: var(--foreground);
  font-family: var(--font-inter);
}
h1, h2, h3{
  font-family: var(--font-lato);
}
